input[type='file'] {
    display: none;
}

button.update-profile-data {
    background: none;
	border: none;
	padding: 0;
}

.profile-sites a {
    text-decoration: none;
    color: #212529;
}

.profile-sites a:hover {
    text-decoration: underline;
}