.blog-header > h1 {
    text-align: center;
    font-weight: bolder;
}

.m-t-8 {
    margin-top: 80px;
}

.m-b-4 {
    margin-bottom: 40px;
}

.blog-content {
    font-size: 20px;
    /* font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; */
}